#main-div{
display:flex;
}


table tbody tr:hover{
    background-color:lightgray;
    cursor:pointer;
}

table thead th:hover{
    background-color:lightgray;
    cursor:pointer;
}

.level-div{
display: flex;
    border: 1px solid gray;
    margin: 1rem;
    padding: 1rem;
    width: fit-content;
    max-width: 50%;
    overflow: auto;
    background-color: aliceblue;
}

.key-cell{
font-weight:bold;
}
.value-cell{
text-align:left;
}

.count-cell,
.m-cap-cell{
text-align:right;
}

.percent-cell{
text-align:right;
min-width:3rem;
}

table th{
text-align:right;
}
